@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #666;
    transition: color 0.2s ease;
}

a:hover {
    color: black;
}

nav a {
    font-size: 20px;
}

nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px
}

.nav-first {
    flex-grow: 1;
    max-width: 150px;
}

.nav-second {
    flex-grow: 2.5;
    max-width: 750px;
}

.nav-second input {
    width: 80%;
    border-radius: 5px;
    padding: 5px 5px 5px 40px;
    border: none;
    background-color: #dfdfde;
    line-height: 30px;
    outline: none;
    transition: all .1s ease;
}

.nav-second input:focus {
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}

.nav-third {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    max-width: 150px;
    position: relative;
}

@media only screen and (min-width: 1200px) {
    .nav-third {
        left: 20px;
    }
}

@media only screen and (min-width: 1400px) {
    .nav-third {
        left: 70px;
    }
}

.nav-fourth {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.nav-fourth span.profile {
    border: none;
    border-radius: 50%;
    padding: 4px 10px;
    background-color: green;
    color: white;
}

.note-one {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.box {
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.note-one .box .input {
    align-self: center;
    flex-grow: 2;
}

.note-one .box .input input {
    width: 100%;
    outline: none;
    border: none;
    padding: 15px;
    font-size: 16px;
}

.note-one .box .box-icons {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.icon-colors{
    color: #666;
}

.note-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.note-two .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.note-two input {
    outline: none;
    border: none;
    padding: 15px;
    font-size: 16px;
}

.note-two-actions {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.note-two-icons {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

.note-two button {
    position: relative;
    right: 10px;
    color: #666;
}


.note-two a {
    font-size: 16px;
}