* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 450px;
    border: 1px solid #bbb;
    border-radius: 15px;
}

.signin-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
}

.signin-logo {
    height: auto;
    width: 80px;
}

.signin-body {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signin-body .MuiTextField-root {
    width: 90%;
}

.signin-footer {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.signin-box .MuiButtonBase-root {
    position: relative;
    left: 100px;
}